<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		"> 
	<!-- Action -->
	<bean id="operDetailAction" class="edu.jyu.erp.invoice.operdetail.web.OperDetailAction" scope="prototype">
		<property name="operDetailEbi" ref="operDetailEbi"/>
	</bean>
	<!-- Ebi -->
	<bean id="operDetailEbi" class="edu.jyu.erp.invoice.operdetail.business.ebo.OperDetailEbo">
		<property name="operDetailDao" ref="operDetailDao"/>
	</bean>
	<!-- Dao -->
	<bean id="operDetailDao" class="edu.jyu.erp.invoice.operdetail.dao.impl.OperDetailImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>
