<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		"> 
	<!-- Action -->
	<bean id="storeDetailAction" class="edu.jyu.erp.invoice.storedetail.web.StoreDetailAction" scope="prototype">
		<property name="storeDetailEbi" ref="storeDetailEbi"/>
	</bean>
	<!-- Ebi -->
	<bean id="storeDetailEbi" class="edu.jyu.erp.invoice.storedetail.business.ebo.StoreDetailEbo">
		<property name="storeDetailDao" ref="storeDetailDao"/>
	</bean>
	<!-- Dao -->
	<bean id="storeDetailDao" class="edu.jyu.erp.invoice.storedetail.dao.impl.StoreDetailImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>
