<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		"> 
	<!-- Action -->
	<bean id="menuAction" class="edu.jyu.erp.auth.menu.web.MenuAction" scope="prototype">
		<property name="menuEbi" ref="menuEbi"/>
		<property name="roleEbi" ref="roleEbi"/>
	</bean>
	<!-- Ebi -->
	<bean id="menuEbi" class="edu.jyu.erp.auth.menu.business.ebo.MenuEbo">
		<property name="menuDao" ref="menuDao"/>
	</bean>
	<!-- Dao -->
	<bean id="menuDao" class="edu.jyu.erp.auth.menu.dao.impl.MenuImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>
